@font-face {
    font-family: 'DMSans';
    src: url('/fonts/DMSans.ttf');
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('/fonts/AnonymousPro-Regular.ttf');
}

body{
    font-family: 'DMSans';
    color: white
}

.gradient-background {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
}
