@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans.ttf");
}

@font-face {
  font-family: "AnonymousPro";
  src: url("/fonts/AnonymousPro-Regular.ttf");
}

body {
  font-family: "DMSans";
}

.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #ffffff;
}