---
import "../styles/global.css";
import "../styles/button.css";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/android-chrome-512x512.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <title>Home | YOLET Enterprises</title>
  </head>
  <body
    class="h-screen md:flex md:flex-col md:justify-between bg-mainBlack-500"
  >
    <NavBar />
    <main>
      <Hero />
    </main>
    <Footer />
  </body>
</html>
