---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Home | YOLET Enterprises</title>
  </head>
  <body class="gradient-background">
    <div class="h-screen flex flex-col items-center gap-4">
      <div class="flex flex-col gap-4 items-center text-4xl">
        <p>UNDER</p>
        <p>CONSTRUCTION</p>
      </div>
      <div class="flex flex-col items-center">
        <p>Site Nearly Ready</p>
      </div>
      <div>
        <button class="btn-primary">Notify ME</button>
      </div>
    </div>
  </body>
</html>
