---
import "../styles/global.css";
import "../styles/button.css";
---

<div class="mt-28 md:mt-0 w-full flex flex-col gap-6 md:gap-10 items-center">
  <div class="self-center text-center tracking-wide text-white text-5xl lg:text-9xl font-bold">
    Coming Soon
  </div>
  <div class="text-white tracking-wider text-base md:text-2xl">
    Create.<span class="text-mainYellow-500">Design</span>.Innovate
  </div>
  <div class="md:w-3/12 flex items-center rounded-md overflow-hidden bg-slate-900">
    <input
      type="email"
      placeholder="Enter your email"
      class="text-xs md:text-base bg-slate-900 text-gray-200 placeholder-gray-500 py-1 px-2 md:py-4 md:px-6 flex-1 focus:outline-none"
    />
    <button class="m-1 md:m-2 bg-white text-mainBlack-500 py-2 px-3 md:py-4 md:px-6 ml-2 rounded-lg">
      Notify Me!
    </button>
  </div>
  <div class="text-white text-sm md:text-lg tracking-wider">-_Building Legacies_-</div>
</div>
