---
import "../styles/global.css";
import "../styles/button.css";

const validateEmail = (email: string) => {
  return String(email)
    .toLowerCase()
    .match(
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    );
};

const errors = { email: "" };

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");

    if (typeof email != "string" || !validateEmail(email)) {
      errors.email += "Email is not valid. ";
    } else {
      errors.email = "";
    }

    const response = await fetch("https://submit-form.com/P2vM5bH8i", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({
        email: email,
      }),
    });
    if (response.ok) {
      console.log("You'll be notified when we're ready!");
      return Astro.redirect("/")
    } else {
      console.log("Failed to submit form!");
    }
  } catch (e) {
    if (e instanceof Error) {
      console.log(`Error occured: ${e}`);
    }
  }
}
---

<div class="mt-28 md:mt-0 w-full flex flex-col gap-6 md:gap-10 items-center">
  <div
    class="self-center text-center tracking-wide text-white text-5xl lg:text-9xl font-bold"
  >
    Coming Soon
  </div>
  <div class="text-white tracking-wider text-base md:text-2xl">
    Create.<span class="text-mainYellow-500">Design</span>.Innovate
  </div>
  <form
    method="POST"
    class="md:w-3/12 flex items-center rounded-md overflow-hidden bg-slate-900"
  >
    <input type="hidden" name="_redirect" value="/" />
    <input type="hidden" name="_append" value="false" />
    <input
      name="email"
      type="email"
      autocomplete="on"
      placeholder="Enter your email"
      required
      class="text-xs md:text-base bg-slate-900 text-gray-200 placeholder-gray-500 py-1 px-2 md:py-4 md:px-6 flex-1 focus:outline-none"
    />
    {errors.email && <p>{errors.email}</p>}
    <button
      class="m-1 md:m-2 bg-white text-mainBlack-500 py-2 px-3 md:py-4 md:px-6 ml-2 rounded-lg"
      type="submit"
    >
      Notify Me!
    </button>
  </form>
  <div class="text-white text-sm md:text-lg tracking-wider">
    -_Building Legacies_-
  </div>
</div>
